openapi: 3.0.3
servers:
  - url: https://brandfolder.com/api/v4
info:
  title: Brandfolder OpenAPI Reference
  version: v4
  description: >
    Welcome to the OpenAPI reference documentation for Brandfolder by
    Smartsheet!
tags:
  - name: assets
    x-displayName: Assets
    description: >
      Assets are the core resource of Brandfolder. They act like containers that
      hold all of your digital resources and files, which we call Attachments.
      They belong to a Section in a Brandfolder and can also exist within many
      Collections.
  - name: attachments
    x-displayName: Attachments
    description: >
      Attachments are the representation of digital assets in Brandfolder.
      Generally speaking, they are actual files but can also be colors, fonts,
      links to embedded/external media, etc. They belong to an Asset and contain
      extra metadata related to the files they represent.


      > **Note:**

      >

      > If you need to list all of an organization's attachments, follow these
      steps:

      >

      > 1. List all Brandfolders: `GET /brandfolders?include=organization`

      > 2. List all sections for each Brandfolder within the target
      organization: `GET /brandfolders/{brandfolder_id}/sections`

      > 3. Iteratively list assets and their attachments for each Section: `GET
      /sections/{section_id}/assets?include=attachments`
  - name: binary_upload
    x-displayName: Binary upload
    description: >
      Brandfolder's Binary Upload service allows for authenticated users to
      upload locally stored files into Brandfolder via our API.


      Binary Upload is a multi-step process:


      1.  [Get an upload
      URL](/api/brandfolder/openapi/binary_upload/opidstorageserviceuploadrequestsget)

      2.  Upload the file to the storage bucket using one of the methods below
      : 
          - [Upload a file](/api/brandfolder/openapi/binary_upload/opidstorageservicebfuploadrequestbucketput)
          - [Resumable upload](/api/brandfolder/openapi/binary_upload/opidstorageservicebfuploadrequestpost)
      3.  [Create an
      asset](/api/brandfolder/openapi/assets/opidapiv4collectionsassetsbybrandfolderidpost),
      telling the Brandfolder API the attachment is at that URL.


      The Brandfolder Upload Request endpoint will return a response body with a
      signed `upload_url`, `resumable_upload_url`, storage `service_type` and
      `object_url`.


      Each Binary Upload `request_url` and `object_url` are designed to be used
      one time for a singular Asset. Both the `upload_url` and
      `resumable_upload_url` will expire 24 hours after they're issued. Assets
      uploaded to the `object_url` will be stored for 7 days before being
      purged. Should any of these URLs expire, you will simply need to restart
      the workflow to obtain active URLs. 


      > **Tip:** We recommend that you use the Resumable Upload flow if you have
      poor internet connection, you're uploading local files that are larger
      than 200MB or if you're uploading files from a server that are larger than
      500MB.


      ![Upload Request Flow](../images/bf-upload-request-interactions.png)
  - name: brandfolders
    x-displayName: Brandfolders
    description: >
      Brandfolders are nested directly underneath an Organization in the overall
      heirarchy. They can have many Collections, Sections, and Assets.
  - name: collections
    x-displayName: Collections
    description: >
      Collections are nested under a Brandfolder and contain many Assets. They
      are mainly used as an additional way to organize, manage, share, and
      restrict access to a subset of Assets within your Brandfolder without
      having to upload Assets to multiple places.
  - name: custom_fields
    x-displayName: Custom fields
    description: >
      Custom Fields can be assigned to Assets and are generally helpful for
      organizing and searching Assets within a Brandfolder, as well as for
      understanding more details about each Asset.


      Each Custom Field is essentially a key/value pair associated with
      **exactly one Asset**. Keys and values are always a string type, so use
      `"123"` instead of `123`.


      For example, if you have several Assets that represent products you sell
      in different colors, you might create a Custom Field for each of those
      Assets with a key of `"color"` and a value of `"blue"` or `"red"`, etc. If
      you modify or delete a `"color":"blue"` Custom Field for any particular
      Asset, it will not affect other Custom Fields on other Assets, even if
      they have the same key and/or value.


      > **IMPORTANT:** Think carefully about whether Tags or Custom Fields are
      better suited to meet the needs of your particular use case.
  - name: invitations
    x-displayName: Invitations
    description: >
      Invitations are exactly what they sound like and can be created to invite
      Users to join your Organization, Brandfolder, or Collection as a `guest`,
      `collaborator`, `admin`, or (when inviting someone to an Organization)
      `owner`.


      Learn more about the permission levels you can grant Users in our
      Knowledge Base article on <a
      href="https://help.smartsheet.com/115002602273-User-Permissions"
      target="_blank">User Permissions</a>.
  - name: labels
    x-displayName: Labels
    description: >
      Brandfolder's Labels are an enhanced organization and findability feature
      meant to provide the peace of mind that comes with an organization's
      existing folder structure. Think of Labels like your music playlists--any
      asset can be assigned to a label or multiple labels.


      Labels are not turned on for every account. If you are unsure whether you
      have or need Labels, please contact brandfoldersupport@smartsheet.com.
  - name: organizations
    x-displayName: Organizations
    description: >
      An Organization is the top level resource of all objects in Brandfolder.
      It can have many Brandfolders nested beneath it.
  - name: sections
    x-displayName: Sections
    description: >
      Sections are nested under a Brandfolder and contain many Assets. They
      exist to help keep Assets organized within a Brandfolder. They also
      determine which type of digital assets can be uploaded within them (files,
      external media, fonts, etc.).
  - name: tags
    x-displayName: Tags
    description: >
      Tags can be assigned to Assets and are generally helpful for organizing
      and searching Assets within a Brandfolder.


      Each Tag is essentially a keyword associated with exactly one Asset.


      For example, if you have several Assets that represent products you sell,
      you might create a "product" Tag for each one. If you modify or delete the
      "product" Tag for any particular Asset, it will not affect other Tags with
      the same value on other Assets.


      Tags have a read-only attribute called `auto_generated` which indicates if
      the Tag was created automatically by our smart analysis of the file
      Attachment(s) (`true`) or if a User created the Tag (`false`).


      > **IMPORTANT:** Think carefully about whether Tags or Custom Fields are
      better suited to meet the needs of your particular use case.
  - name: user_permissions
    x-displayName: User permissions
    description: >
      User permissions describe relationships between Organizations,
      Brandfolders, Collections, Portals or Brandguides and the users that have
      access to them.


      Learn more about permissioning in our Knowledge Base article on <a
      href="https://help.smartsheet.com/115002602273-User-Permissions"
      target="_blank">User Permissions</a>.
  - name: webhooks
    x-displayName: Webhooks
    description: >
      The Brandfolder Webhooks service allows you to subscribe to event-based
      notifications (callbacks) when a qualifying event is triggered within
      Brandfolder. Asset data will then be sent to the user-provided
      `callback_url` at the time the subscribed event occurs within the
      specified Brandfolder. 


      > NOTE: The `callback_url` must be accessible from the public internet,
      meaning any localhost, private network domains, or domains that require
      authentication will all fail.


      <h2>Authentication</h2>


      Utilizing Webhooks requires authentication with the resource (Brandfolder)
      being subscribed to. A user's unique API Key is required in a header for
      actions on all endpoints related to the Webhooks service.


      - Find your API key at <a
      href="https://brandfolder.com/profile#integrations"
      target="_blank">https://brandfolder.com/profile#integrations</a>.

      - Click the icon to the right of your key to copy it to your clipboard.


      There are two required headers in each request: 


      `Content-Type: application/json` <br>

      `Authorization:  Bearer <api_key>`


      The provided API Key is checked against any provided resource (where
      applicable) to confirm the appropriate permissions.

      ___


      <h2>Service Details</h2>


      The Brandfolder Webhooks service allows for subscriptions to events within
      individual Brandfolders. 


      > NOTE: Asset data updates made at the Collection level will trigger a
      Brandfolder Webhook subscription. Since assets live at the Brandfolder
      level, any updates made at the Collection level would be reflected on the
      Brandfolder level as well, thus triggering a Webhook.


      Due to the way Brandfolder manages assets, you will see both an
      `"asset.create"` event and an `"asset.update"` event upon creation of a
      new asset. A `create` event is triggered when Brandfolder recognizes the
      new asset and begins to process it for use. An `update` event is triggered
      when the asset is ready for use.


      The following event types trigger webhooks:


      * `asset.create` - Asset creation. A new asset has been added to a
      subscribed Brandfolder.

      * `asset.update` - Asset update. Asset data has been updated within a
      subscribed Brandfolder. One or more of the following asset attributes has
      been updated:
          * Name
          * Description
          * Section
          * Approval status
          * Expiration status
          * Comments & Annotations
              * Adding / Updating
              * Deleting
          * Tags
              * Adding / Updating
              * Deleting
          * Custom Fields
              * Adding / Updating
              * Deleting
      * `asset.delete` - Asset deletion. An asset has been removed from within a
      subscribed Brandfolder.


      > Once a Webhook subscription as been created, the payload that will be
      sent to the user-provided `callback_url` after an event has been triggered
      will have the following structure:


      ```json

      {
          "data": {
              "attributes": {
                  "key": "<unique_asset_identifier>",
                  "event_time": "<event occurance timestamp in format YYYY-MM-DD HH:MM:SS.000000 with six decimal place microsecond precision>",
                  "event_type": "<the event type that triggered the webhook>",
                  "brandfolder_key": "<unique_brandfolder_identifier>",
                  "organization_key": "<unique_organization_identifier>"
              },
              "webhook_id": "<webhook_id>"
          }
      }

      ```


      > NOTE: The callback payload is a "skinny" payload -- it indicates which
      assets changed and the type of event that occurred, but does not contain
      any data from the assets themselves.


      The Brandfolder Webhook service requires your application to immediately
      acknowledge receipt of any Webhooks by returning a `2xx` HTTP status code.
      If Brandfolder does not receive an acknowledgement or any non `2xx` HTTP
      status code is returned, Brandfolder will retry the Webhook up to 15 times
      with exponentially increasing wait times in between. 


      **Any Webhook subscriptions that continue to fail without remedy will be
      made inactive.**


      Messages may be sent out of order to the `callback_url` associated with a
      Webhook subscription. The `event_time` provided in the payload can be used
      to order events.


      If the API Key associated with a Webhook subscription loses access to the
      associated resource, the subscription will be deactivated within 30
      minutes.
paths:
  /brandfolders:
    parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: list-brandfolders
      summary: List Brandfolders
      description: |
        Lists all Brandfolders for a User. Unauthorized requests will return an
        empty list.

        You can use the returned `slug` attribute to form a link to the desired
        Brandfolder like so:

        ````
        https://brandfolder.com/{slug}
        ````
      tags:
        - brandfolders
      parameters:
        - in: query
          name: fields
          description: >
            Set it to a comma-separated list (no spaces) of any of the following
            attributes of the Brandfolders

            to return as part of the Brandfolders' attributes in the response.


            Allowed values: 


            - asset_count

            - attachment_count

            - storage


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: asset_count,attachment_count,storage
        - in: query
          name: include
          description: >
            Set it to a comma-separated list (no spaces) of any of the following
            record names to return those records related to the Brandfolders
            you're fetching. Related records are returned in an `included` array
            in the response.


            Allowed values: 


            - organization

            - collections

            - assets


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: organizations
        - in: query
          name: search
          description: >
            Set it to any URL-encoded query to fetch only Brandfolders that
            match your criteria.


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: extension:png
      responses:
        '200':
          description: |
            References to all the user's Brandfolders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Brandfolder'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /brandfolders/{brandfolder_id}:
    parameters:
      - name: brandfolder_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgiju-21olts-ce9egi
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4BrandfoldersByIdGet
      tags:
        - brandfolders
      summary: Fetch a Brandfolder
      description: |
        You can use the returned `slug` attribute to form a link to the desired
        Brandfolder like so:

        ````
        https://brandfolder.com/{slug}
        ````
      parameters:
        - in: query
          name: fields
          description: >
            Set it to a comma-separated list (no spaces) of any of the following
            attributes of the Brandfolder

            to return as part of the Brandfolder's attributes in the response.


            Allowed values: 


            - asset_count

            - attachment_count

            - section_count


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: asset_count,attachment_count,section_count
        - in: query
          name: include
          description: >
            Set it to a comma-separated list (no spaces) of any of the following
            record names to return those records related to the Brandfolder
            you're fetching. Related records are returned in an `included` array
            in the response.


            Allowed values: 


            - organization

            - collections

            - search_filters

            - sections


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: organizations
      responses:
        '200':
          description: |
            A reference to the Brandfolder.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Brandfolder'
                required:
                  - data
    put:
      operationId: opIdApiV4BrandfoldersByIdPut
      summary: Update a Brandfolder
      description: Updates the matching Brandfolder.
      tags:
        - brandfolders
      parameters:
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            enum:
              - application/json
          example: application/json
      requestBody:
        description: |
          Attribute updates for the Brandfolder.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A new name for the Brandfolder.
                          example: Updated Brandfolder
                        privacy:
                          type: string
                          description: A new privacy setting for the Brandfolder.
                          example: public
                        slug:
                          type: string
                          description: A new URL-friendly slug for the Brandfolder.
                          example: updated-brandfolder
                        tagline:
                          type: string
                          description: A new tagline for the brandfolder.
                          example: Updated Brandfolder tagline!
                  required:
                    - attributes
              required:
                - data
      responses:
        '200':
          description: |
            The updated Brandfolder.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier for the resource instance.
                        example: oqgkkd-fr5iv4-hh142d
                      type:
                        type: string
                        description: The type of the resource.
                        enum:
                          - brandfolders
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the Brandfolder.
                            example: Updated Brandfolder
                          privacy:
                            type: string
                            description: The privacy setting of the Brandfolder.
                            example: public
                          slug:
                            type: string
                            description: The URL-friendly slug of the Brandfolder.
                            example: updated-brandfolder
                          tagline:
                            type: string
                            description: The tagline for the brandfolder.
                            example: Updated Brandfolder tagline!
                        required:
                          - name
                          - privacy
                          - slug
                          - tagline
                    required:
                      - attributes
                required:
                  - data
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /brandfolders/{brandfolder_id}/collections:
    parameters:
      - name: brandfolder_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgiju-21olts-ce9egi
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4BrandfoldersCollectionsByBrandfolderIdGet
      summary: List collections in a Brandfolder
      description: >
        List all collections in the Brandfolder.


        You can use the returned `slug` parameter (in conjunction with the slug
        of

        the parent Brandfolder) to form a link to the desired Collection like
        so:


        ```

        https://brandfolder.com/{brandfolder_slug}/{collection_slug

        ```
      tags:
        - collections
      responses:
        '200':
          description: |
            All the collections in the Brandfolder.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Collection'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    post:
      operationId: opIdApiV4BrandfoldersCollectionsByBrandfolderIdPost
      summary: Create a collection
      description: Creates a collection in the matching Brandfolder.
      tags:
        - collections
      requestBody:
        description: |
          Attribute values for the collection.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A name.
                          example: My collection
                        slug:
                          type: string
                          description: >
                            A URL-friendly slug. Use only letters, numbers,
                            hyphens, and

                            underscores.


                            NOTE: We recommend **not** to invent your own slug.
                            If it is

                            not unique and valid, the request fails with a `422`
                            error.

                            Default is to automatically assign a slug based on
                            `name` (a

                            name of \"My Collection\" would make a slug of

                            \"my-collection\").
                          example: my-collection
                        tagline:
                          type: string
                          description: A tag line.
                          example: My collection tag line
                      required:
                        - name
                  required:
                    - attributes
              required:
                - data
      responses:
        '200':
          description: |
            The new collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /brandfolders/{brandfolder_id}/custom_field_keys:
    parameters:
      - name: brandfolder_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgiju-21olts-ce9egi
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4BrandfoldersCustomFieldKeysByBrandfolderIdGet
      summary: List custom field keys
      description: |
        Lists custom field keys for the matching Brandfolder.
      tags:
        - custom_fields
      parameters:
        - in: query
          name: fields
          description: >
            Set it to `value` to return it as part of the asset's attributes in
            the

            response.


            Allowed value: `value`


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: value
        - in: query
          name: include
          description: >
            Set it to `custom_field_values` to return those records related to
            the

            asset you're fetching. Related records are returned in an `included`

            array in the response.


            Allowed value: `custom_field_values`


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: custom_field_values
      responses:
        '200':
          description: |
            All custom field keys for the matching Brandfolder.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldKey'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    post:
      operationId: opIdApiV4BrandfoldersCustomFieldKeysByBrandfolderIdPost
      summary: Create custom field keys
      description: >
        Creates custom field keys for the matching brandfolder.


        This endpoint is **only** needed for setting up controlled Custom
        Fields. If

        this is enabled for your Brandfolder, you can set the allowed keys and

        optionally restrict their allowed values for Custom Fields using this

        endpoint.
      tags:
        - custom_fields
      requestBody:
        description: Custom field keys for the matching brandfolder.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The key name.
                            example: color
                          allowed_values:
                            type: array
                            description: >-
                              The `value` that can be used with this `key` when
                              creating or updating any Custom Field on an Asset
                              must be one of these strings. If not included or
                              empty array `[]`, the `values` are unrestricted.
                            items:
                              type: string
                            example:
                              - red
                              - white
                              - blue
                          position:
                            type: integer
                            format: int32
                            description: >-
                              Sets the location of the custom field among other
                              custom fields in the Brandfolder UI.
                            minimum: 0
                            example: 0
                          prioritized:
                            type: boolean
                            description: >-
                              Set to `true` to display the custom field in asset
                              previews. A Brandfolder can have up to five
                              prioritized custom fields.
                            example: false
                          required:
                            type: boolean
                            description: >-
                              If set to `true`, users uploading an asset must
                              input the custom field before uploading the asset.
                              Children of dependent custom fields can also be
                              marked as required.
                            example: false
                          restricted:
                            type: boolean
                            description: >-
                              If set to `true`, the field value is restricted to
                              a set of allowed values (see `allowed_values`);
                              otherwise, the field value is unrestricted.
                            example: true
                      required:
                        - name
                  required:
                    - attributes
              required:
                - data
      responses:
        '200':
          description: |
            The new custom field keys.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldKey'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /organizations:
    parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4OrganizationsGet
      summary: List organizations
      description: >
        Lists all Organizations for a User. Unauthorized requests will return an
        empty list.


        You can use the returned `slug` attribute to form a link to the desired
        Organization like so:


        ````

        https://brandfolder.com/organizations/{slug}

        ````
      tags:
        - organizations
      parameters:
        - in: query
          name: fields
          description: >
            Set it to `asset_count` to return each organization's asset count as
            part of each organization's attributes in the response.


            WARNING: This parameter can slow response times.
          schema:
            type: string
            enum:
              - asset_count
          example: asset_count
        - in: query
          name: include
          description: >
            Set it to a comma-separated list (no spaces) of any of the following
            record names to return those records related to the organizations
            you're fetching. Related records are returned in an `included` array
            in the response.


            Allowed values: 


            - brandfolders

            - brandguides

            - collections

            - portals


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: brandfolders
      responses:
        '200':
          description: |
            All the user's organizations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload.
          content:
            application/json:
              schema:
                type: string
  /organizations/{organization_id}:
    parameters:
      - name: organization_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-cocc75
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4OrganizationsByIdGet
      summary: Get an organization
      description: >
        You can use the returned `slug` attribute to form a link to the desired
        Organization like so:


        ````

        https://brandfolder.com/organizations/{slug}

        ````
      tags:
        - organizations
      parameters:
        - in: query
          name: fields
          description: >
            Set it to a comma-separated list (no spaces) of any of the following
            attributes of the organization to return as part of the
            organization's attributes in the response.


            Allowed values: 


            - `asset_count` returns the organization's asset count.

            - `cname` returns the organization's Canonical Name (CNAME), or
            `null` if the organization doesn't have one.


            WARNING: This parameter can slow response times.
          schema:
            type: string
            enum:
              - asset_count
              - cname
          example: asset_count
        - in: query
          name: include
          description: >
            Set it to a comma-separated list (no spaces) of any of the following
            record names to return those records related to the organization
            you're fetching. Related records are returned in an `included` array
            in the response.


            Allowed values: 


            - assets

            - brandfolders

            - brandguides

            - collections


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: collections
      responses:
        '200':
          description: |
            The matching organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Organization'
                required:
                  - data
        default:
          description: Generic error payload.
          content:
            application/json:
              schema:
                type: string
  /organizations/{organization_id}/brandfolders:
    parameters:
      - name: organization_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-cocc75
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    post:
      operationId: opIdApiV4OganizationsBrandfoldersByOrganizationIdPost
      summary: Create a Brandfolder
      description: |
        Creates a Brandfolder in the specified organization.
      tags:
        - brandfolders
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
            example: application/json
      requestBody:
        description: |
          Attributes for the new Brandfolder.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the brandfolder.
                          example: Brandfolder
                        privacy:
                          type: string
                          description: The privacy setting of the brandfolder.
                          example: private
                        slug:
                          type: string
                          description: The URL-friendly slug of the brandfolder.
                          example: brandfolder
                        tagline:
                          type: string
                          description: The tagline of the brandfolder.
                          example: You expected this - Brandfolder's Brandfolder!
                          default: ''
                      required:
                        - name
                  required:
                    - attributes
              required:
                - data
      responses:
        '200':
          description: |
            The new Brandfolder.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Brandfolder'
                required:
                  - data
        default:
          description: Generic error payload.
          content:
            application/json:
              schema:
                type: string
  /collections:
    parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4CollectionsGet
      summary: List collections
      description: >
        List the collections accessible to the user. 


        Unauthorized requests return an empty list.


        You can use the returned `slug` parameter (in conjunction with the slug
        of

        the parent Brandfolder) to form a link to the desired Collection like
        so:


        ```

        https://brandfolder.com/{brandfolder_slug}/{collection_slug}

        ```
      tags:
        - collections
      parameters:
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            enum:
              - application/json
          example: application/json
      security:
        - APIToken: []
      responses:
        '200':
          description: |
            A list of collections accessible to the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Collection'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /collections/{collection_id}:
    parameters:
      - name: collection_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgiju-21olts-ce9egi
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4CollectionsByIdGet
      summary: Fetch a collection
      description: |
        Returns the matching collection.
      tags:
        - collections
      parameters:
        - in: query
          name: fields
          description: >
            Set it to `asset_count` to return the collection's asset count as
            part

            of the collection's attributes in the response.



            WARNING: This parameter can slow response times.
          schema:
            type: string
            enum:
              - asset_count
          example: asset_count
        - in: query
          name: include
          description: >
            Set it to a comma-separated list (no spaces) of any of the following

            record names to return those records related to the collection
            you're

            fetching. Related records are returned in an `included` array in the

            response.


            Allowed values: 


            - brandfolder

            - assets

            - search_filters


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: brandfolder
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            enum:
              - application/json
          example: application/json
      responses:
        '200':
          description: |
            The matching collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Collection'
                required:
                  - data
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    put:
      operationId: opIdApiV4CollectionsByIdPut
      summary: Update a collection
      description: Updates the matching collection.
      tags:
        - collections
      parameters:
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            enum:
              - application/json
          example: application/json
      requestBody:
        description: |
          Attribute updates for the collection.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A new name.
                          example: New name
                        slug:
                          type: string
                          description: >
                            A new URL-friendly slug. Use only letters, numbers,
                            hyphens,

                            and underscores.


                            NOTE: We recommend **not** to invent your own slug.
                            If it is

                            not unique and valid, the request fails with a `422`
                            error.

                            Default is to automatically assign a slug based on
                            `name` (a

                            name of \"My Collection\" would make a slug of

                            \"my-collection\").
                          example: new-name
                        tagline:
                          type: string
                          description: A new tag line.
                          example: New tag line
                  required:
                    - attibutes
              required:
                - data
      responses:
        '200':
          description: |
            The updated collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier for the resource instance.
                        example: oqgkkd-fr5iv4-hh142d
                      type:
                        type: string
                        description: The type of the resource.
                        enum:
                          - collections
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            description: A new name.
                            example: New name
                          slug:
                            type: string
                            description: |
                              A new URL-friendly slug.
                            example: new-name
                          tagline:
                            type: string
                            description: A new tag line.
                            example: New tag line
                          public:
                            type: boolean
                            description: >-
                              Set to `true` for hassle-free sharing, allowing
                              search engines to index your brand assets.
                              Otherwise, set to `false` to share only with the
                              users you specify.
                            example: false
                          stealth:
                            type: boolean
                            description: >-
                              Set to `true` to remove the collection from
                              appearing in web searches.
                            example: false
                          is_workspace:
                            type: boolean
                            description: >-
                              Set to `true` if the collection is a Brandfolder
                              workspace.
                            example: false
                required:
                  - data
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    delete:
      operationId: opIdApiV4CollectionsByIdDelete
      summary: Delete a collection
      description: Removes the matching collection.
      tags:
        - collections
      responses:
        '200':
          description: |
            Successful response (always an empty object)
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /collections/{collection_id}/assets:
    parameters:
      - name: collection_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-443db
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4CollectionsAssetsByCollectionIdGet
      summary: List assets in a collection
      description: Lists assets in a collection.
      tags:
        - assets
        - collections
      parameters:
        - in: query
          name: page
          description: >
            Set this to a positive, non-zero integer representing the page
            number of

            the results you want.
          schema:
            type: integer
            format: int32
            minimum: 1
        - in: query
          name: per
          description: >
            Set this pagination parameter to the maximum number of results you
            want

            to receive back from your request. More records may exist (as
            denoted by

            the `meta.total_count` value).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 3000
            default: 100
        - in: query
          name: search
          description: |
            Set it to any URL-encoded query to fetch only assets that match your
            criteria.

            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: extension:png
        - in: query
          name: fields
          description: >
            Set it to a comma-separated list (no spaces) of any of the following

            attributes of the asset to return as part of the asset's attributes
            in

            the response.


            Allowed values: 


            - `created_at`

            - `updated_at`

            - `cdn_url`

            - `availability`


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: cdn_url
        - in: query
          name: include
          description: |
            Set it to a comma-separated list (no spaces) of any of the following
            record names to return those records related to the asset you're
            fetching. Related records are returned in an `included` array in the
            response.

            Allowed values: 

            - `attachments`
            - `brandfolder`
            - `collections`
            - `custom_fields`
            - `section`
            - `tags`

            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: tags
      responses:
        '200':
          description: |
            The matching collection assets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        '404':
          description: |
            This occurs for CDN URLs of assets that are pending approval or
            unpublished. 
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    post:
      operationId: opIdApiV4CollectionsAssetsByCollectionIdPost
      summary: Create assets in a collection
      description: >
        Creates assets in the matching collection.


        Any files you wish to use as an Attachment in Brandfolder must be hosted
        at

        a publicly available URL (until they have been successfully imported).
        If

        you need to upload file contents directly to a server, you can use do a

        binary file upload to our temporary storage bucket and then use that URL

        when creating Assets/Attachments.
      tags:
        - assets
        - collections
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: array
                      items:
                        $ref: '#/components/schemas/AssetAttributesRequest'
                  required:
                    - attributes
                section_key:
                  type: string
                  description: >
                    ID of the Section in which you want the newly created
                    Asset(s)

                    to live.
                  example: oqgol8-dslwxs-58b2z3
              required:
                - data
                - section_key
      responses:
        '200':
          description: |
            The new assets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /collections/{collection_id}/tags:
    parameters:
      - name: collection_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-443db
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4CollectionsTagsByCollectionIdGet
      summary: List tags in a collection
      description: |
        Lists tags in the matching collection.
      tags:
        - collections
        - tags
      responses:
        '200':
          description: |
            Tags in the matching collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /brandfolders/{brandfolder_id}/sections:
    parameters:
      - name: brandfolder_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgiju-21olts-ce9egi
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4SectionsGet
      summary: List sections
      description: Returns the Brandfolder's sections.
      tags:
        - sections
      parameters:
        - in: query
          name: include
          schema:
            type: string
          description: >
            Set it to a comma-separated list (no spaces) of any of the following

            record names, to return those records related to the sections.
            Related

            records are returned in an `included` array in the response.


            Allowed values: 


            - brandfolder

            - assets


            WARNING: This parameter can slow response times.
          example: brandfolder
      responses:
        '200':
          description: |
            The sections in the matching Brandfolder.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Section'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    post:
      operationId: opIdApiV4BrandfoldersSectionsByBrandfolderIdPost
      summary: Create a section
      description: Creates a section in the matching Brandfolder.
      tags:
        - sections
      requestBody:
        description: |
          Attribute values for the section.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: A name.
                          example: My section
                        default_asset_type:
                          type: string
                          description: >
                            Set this to the type of asset to put in the section.


                            IMPORTANT: If you're using the API to add assets to
                            the

                            section, we strongly recommend setting this to

                            `GenericFile`.
                          enum:
                            - GenericFile
                            - Color
                            - Font
                            - ExternalMedium
                            - Person
                            - Press
                            - Text
                          example: GenericFile
                        position:
                          type: integer
                          minimum: 0
                          description: >
                            Set this to a non-negative integer that represents
                            where to

                            display the section relative to other sections. The
                            first

                            position is `0`. The new position defaults to the
                            next

                            available position.
                          example: 0
                      required:
                        - name
                        - default_asset_type
                  required:
                    - attributes
              required:
                - data
      responses:
        '200':
          description: |
            The new section.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Section'
                required:
                  - data
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /sections/{section_id}:
    parameters:
      - name: section_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgol8-dslwxs-58b2z3
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4SectionsByIdGet
      summary: Fetch a section.
      description: Fetches the matching section.
      tags:
        - sections
      parameters:
        - in: query
          name: include
          schema:
            type: string
          description: >
            Set it to a comma-separated list (no spaces) of any of the following

            record names, to return those records related to the sections.
            Related

            records are returned in an `included` array in the response.


            Allowed values: 


            - brandfolder

            - assets


            WARNING: This parameter can slow response times.
          example: brandfolder
      responses:
        '200':
          description: |
            The matching section.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Section'
                required:
                  - data
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /sections/{section_id}/assets:
    parameters:
      - name: section_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgol8-dslwxs-58b2z3
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4SectionsAssetsBySectionIdGet
      summary: List assets in a section
      description: Lists assets in the matching section.
      tags:
        - assets
        - sections
      parameters:
        - in: query
          name: page
          description: >
            Set this to a positive, non-zero integer representing the page
            number of

            the results you want.
          schema:
            type: integer
            format: int32
            minimum: 1
        - in: query
          name: per
          description: >
            Set this pagination parameter to the maximum number of results you
            want

            to receive back from your request. More records may exist (as
            denoted by

            the `meta.total_count` value).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 3000
            default: 100
        - in: query
          name: search
          description: |
            Set it to any URL-encoded query to fetch only assets that match your
            criteria.

            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: extension:png
        - in: query
          name: fields
          description: >
            Set it to a comma-separated list (no spaces) of any of the following

            attributes of the asset to return as part of the asset's attributes
            in

            the response.


            Allowed values: 


            - `created_at`

            - `updated_at`

            - `cdn_url`

            - `availability`


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: cdn_url
      responses:
        '200':
          description: |
            The matching section assets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        '404':
          description: |
            This occurs for CDN URLs of assets that are pending approval or
            unpublished. 
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /brandfolders/{brandfolder_id}/assets:
    parameters:
      - name: brandfolder_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgiju-21olts-ce9egi
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4BrandfoldersAssetsByBrandfolderIdGet
      summary: List assets in a Brandfolder
      description: Lists assets in a Brandfolder.
      tags:
        - assets
        - brandfolders
      parameters:
        - in: query
          name: page
          description: >
            Set this to a positive, non-zero integer representing the page
            number of

            the results you want.
          schema:
            type: integer
            format: int32
            minimum: 1
        - in: query
          name: per
          description: >
            Set this pagination parameter to the maximum number of results you
            want

            to receive back from your request. More records may exist (as
            denoted by

            the `meta.total_count` value).
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 3000
            default: 100
        - in: query
          name: search
          description: |
            Set it to any URL-encoded query to fetch only assets that match your
            criteria.

            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: extension:png
        - in: query
          name: fields
          description: >
            Set it to a comma-separated list (no spaces) of any of the following

            attributes of the asset to return as part of the asset's attributes
            in

            the response.


            Allowed values: 


            - `created_at`

            - `updated_at`

            - `cdn_url`

            - `availability`


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: cdn_url
        - in: query
          name: include
          description: |
            Set it to a comma-separated list (no spaces) of any of the following
            record names to return those records related to the asset you're
            fetching. Related records are returned in an `included` array in the
            response.

            Allowed values: 

            - `attachments`
            - `brandfolder`
            - `collections`
            - `custom_fields`
            - `section`
            - `tags`

            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: tags
      responses:
        '200':
          description: |
            The matching Brandfolder assets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        '404':
          description: |
            This occurs for CDN URLs of assets that are pending approval or
            unpublished. 
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    post:
      operationId: opIdApiV4CollectionsAssetsByBrandfolderIdPost
      summary: Create assets in a Brandfolder
      description: >
        Creates assets in the matching Brandfolder.


        Any files you wish to use as an Attachment in Brandfolder must be hosted
        at

        a publicly available URL (until they have been successfully imported).
        If

        you need to upload file contents directly to a server, you can use do a

        binary file upload to our temporary storage bucket and then use that URL

        when creating Assets/Attachments.


        > **NOTE:** To create an asset from a binary upload, copy the
        `object_url`

        value from the [Get an upload

        URL](/api/brandfolder/openapi/binary_upload/opidstorageserviceuploadrequestsget)

        response into your request body's `attachments.url` property.
      tags:
        - assets
        - brandfolders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: array
                      items:
                        $ref: '#/components/schemas/AssetAttributesRequest'
                  required:
                    - attributes
                section_key:
                  type: string
                  description: >
                    ID of the Section in which you want the newly created
                    Asset(s)

                    to live.
                  example: oqgol8-dslwxs-58b2z3
              required:
                - data
                - section_key
      responses:
        '200':
          description: |
            The new assets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /assets/{asset_id}:
    parameters:
      - name: asset_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-443db
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4AssetsByIdGet
      summary: Fetch an asset
      description: Fetches the matching asset.
      tags:
        - assets
      parameters:
        - in: query
          name: fields
          description: >
            Set it to a comma-separated list (no spaces) of any of the following

            attributes of the asset to return as part of the asset's attributes
            in

            the response.


            Allowed values: 


            - `created_at`

            - `updated_at`

            - `cdn_url`

            - `availability`

            - `availability_start`

            - `availability_end`


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: cdn_url
        - in: query
          name: include
          description: |
            Set it to a comma-separated list (no spaces) of any of the following
            record names to return those records related to the asset you're
            fetching. Related records are returned in an `included` array in the
            response.

            Allowed values: 

            - `attachments`
            - `brandfolder`
            - `collections`
            - `custom_fields`
            - `section`
            - `tags`

            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: tags
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            enum:
              - application/json
          example: application/json
      responses:
        '200':
          description: |
            The matching asset.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Asset'
                required:
                  - data
        '403':
          description: |
            This occurs for CDN URLs of assets that are pending approval or
            unpublished. 
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    put:
      operationId: opIdApiV4AssetsByIdPut
      summary: Update an asset
      description: >
        Updates the matching asset.


        > **Note:** All attributes are optional when updating. Only include the
        ones

        you want to change.


        Any files you wish to use as an Attachment in Brandfolder must be hosted
        at

        a publicly available URL (until they have been successfully imported).
        If

        you need to upload file contents directly to a server, you can use do a

        binary file upload to our temporary storage bucket and then use that URL

        when creating Assets/Attachments.
      tags:
        - assets
      requestBody:
        description: |
          Attribute updates for an asset.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      $ref: '#/components/schemas/AssetAttributesRequest'
                  required:
                    - attributes
              required:
                - data
      responses:
        '200':
          description: |
            The updated asset.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Asset'
                required:
                  - data
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    delete:
      operationId: opIdApiV4AssetsByIdDelete
      summary: Delete an asset
      description: Removes the matching asset.
      tags:
        - assets
      responses:
        '200':
          description: |
            Successful response (always an empty object)
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /assets/{asset_id}/tags:
    parameters:
      - name: asset_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-443db
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4AssetsTagsByAssetIdGet
      summary: List tags for an asset
      description: |
        Lists tags for the matching asset.
      tags:
        - assets
        - tags
      parameters:
        - in: query
          name: include
          description: >
            Set it to `asset` to return those asset records related to the tag

            you're fetching. Related records are returned in an `included` array
            in

            the response.


            Allowed value:  `asset`


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: asset
      responses:
        '200':
          description: |
            Tags for the matching asset.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    post:
      operationId: opIdApiV4AssetsTagsByAssetIdPost
      summary: Create tags for an asset
      description: |
        Creates tags for the matching asset.

        > **Note:** You can add multiple tags to the `attributes` array in the
        request body.
      tags:
        - tags
      requestBody:
        description: New tag names for the asset.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: array
                      description: A list of tag names for the matching asset.
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: A tag name.
                            example: product
                  required:
                    - attributes
              required:
                - data
      responses:
        '200':
          description: |
            All tags for the matching asset.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /assets/{asset_id}/custom_field_values:
    parameters:
      - name: asset_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-443db
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4AssetsCustomFieldValuesByAssetIdGet
      summary: List custom fields
      description: |
        Lists custom fields for the matching asset.
      parameters:
        - in: query
          name: include
          schema:
            type: string
          description: >
            Set it to `custom_field_key` to return those custom field keys
            related

            to the asset you're fetching. Related records are returned in an

            `included` array in the response.


            Allowed value: `custom_field_key`


            WARNING: This parameter can slow response times.
      tags:
        - custom_fields
      responses:
        '200':
          description: |
            The custom fields for the asset.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldValue'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /custom_field_keys/{custom_field_key_id}/custom_field_values:
    parameters:
      - name: custom_field_key_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-443db
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    post:
      operationId: opIdApiV4CustomFieldKeysCustomFieldValuesByCustomFieldKeyIdPost
      summary: Create custom field values for an asset
      description: >
        Creates custom fields for the matching asset.


        In order to use this endpoint, you will need to have the Custom Field
        Key ID

        for the Custom Field you wish to create. Please see [List Custom Field
        Keys

        for a

        Brandfolder](/api/brandfolder/openapi/custom_fields/opidapiv4brandfolderscustomfieldkeysbybrandfolderidget)

        to get a list of the Custom Field Key IDs.


        Want to learn more about Custom Fields? Check out out our Knowledge Base

        article on <a
        href="https://help.smartsheet.com/115002608613-Setting-up-Custom-Fields"
        target="_blank">Custom

        Fields</a>.
      tags:
        - custom_fields
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  description: A list of custom field associations.
                  items:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          value:
                            type: string
                            description: Custom field key value.
                            example: red
                        required:
                          - value
                      relationships:
                        type: object
                        description: Specifies the object receiving the custom field.
                        properties:
                          asset:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: The type of target object.
                                    enum:
                                      - assets
                                  id:
                                    type: string
                                    description: The ID of the asset.
                                    example: k5nj2bf5mc36j3ssm63359h
                                required:
                                  - type
                                  - id
                            required:
                              - data
                        required:
                          - asset
                    required:
                      - attributes
                      - relationships
              required:
                - data
      responses:
        '200':
          description: |
            The new custom fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the resource instance.
                          example: r79p3j4gbcgtv33gbsqrxb
                        type:
                          type: string
                          description: The type of the resource.
                          enum:
                            - custom_field_values
                        attributes:
                          type: object
                          properties:
                            key:
                              type: string
                              description: A key name.
                              example: team
                            value:
                              type: string
                              description: The value for the key.
                              example: product
                      required:
                        - id
                        - type
                        - attributes
                required:
                  - data
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /attachments/{attachment_id}:
    parameters:
      - name: attachment_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-443db
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4AttachmentsByIdGet
      summary: Fetch an attachment
      description: Gets the matching attachment.
      tags:
        - attachments
      parameters:
        - in: header
          name: Accept
          required: true
          schema:
            type: string
            enum:
              - application/json
          example: application/json
        - in: query
          name: fields
          description: |
            Set it to a comma-separated list (no spaces) of any of the following
            attributes of the attachment to return as part of the attachment's
            attributes in the response.

            Allowed values: 

            - `metadata` 
            - `thumbnail_url` 
            - `view_thumbnail_retina` 
            - `extension` 
            - `version_count` 
            - `tag_names` 
            - `label_names`

            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: metadata
        - in: query
          name: include
          description: >
            Set it to a comma-separated list (no spaces) of any of the following

            record names to return those records related to the attachment
            you're

            fetching. Related records are returned in an `included` array in the

            response.


            Allowed values: 


            - `asset`

            - `section`

            - `brandfolder`

            - `collections`

            - `tags`

            - `labels`


            WARNING: This parameter can slow response times.
          schema:
            type: string
          example: brandfolder
      responses:
        '200':
          description: |
            The matching attachment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Attachment'
                required:
                  - data
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    put:
      operationId: opIdApiV4AttachmentsByIdPut
      summary: Update an attachment
      description: |
        Updates a matching attachment.
      tags:
        - attachments
      requestBody:
        description: Updates for the matching attachment.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        filename:
                          type: string
                          example: brandfolder_logo.png
                        url:
                          type: string
                          example: >
                            https://example.com/brandfolder_logo.png?expiry=1625260667
                  required:
                    - attributes
              required:
                - data
      responses:
        '200':
          description: |
            The updated attachment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Attachment'
                required:
                  - data
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    delete:
      operationId: opIdApiV4AttachmentsByIdDelete
      summary: Delete an attachment
      description: Removes the matching attachment.
      tags:
        - attachments
      responses:
        '200':
          description: |
            Successful response (always an empty object)
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /brandfolders/{brandfolder_id}/tags:
    parameters:
      - name: brandfolder_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgiju-21olts-ce9egi
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4BrandfoldersTagsByBrandfolderIdGet
      summary: List tags in a Brandfolder
      description: |
        Lists tags in the matching Brandfolder.
      tags:
        - brandfolders
        - tags
      responses:
        '200':
          description: |
            Tags in the matching Brandfolder.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
                  meta:
                    $ref: '#/components/schemas/PaginationMetadataResponse'
                required:
                  - data
                  - meta
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /tags/{tag_id}:
    parameters:
      - name: tag_id
        in: path
        schema:
          type: string
        required: true
        description: Unique identifier for the resource instance.
        example: oqgkkd-fr5iv4-443db
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - in: header
        name: Accept
        required: true
        schema:
          type: string
          enum:
            - application/json
        example: application/json
      - $ref: '#/components/parameters/Authorization'
    put:
      operationId: opIdApiV4TagsByIdPut
      summary: Update a tag
      description: |
        Updates the matching tag.
      tags:
        - tags
      requestBody:
        description: New tag names for the asset.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          example: product
                      required:
                        - name
                  required:
                    - attributes
              required:
                - data
      responses:
[...]
