openapi: 3.2.0
info:
  title: Brandfolder OpenAPI Reference Webhooks API
  version: v4
  description: Welcome to the OpenAPI reference documentation for Brandfolder by Smartsheet!
servers:
- url: https://brandfolder.com/api/v4
security:
- APIToken: []
tags:
- name: Webhooks
  x-displayName: Webhooks
  description: The Brandfolder Webhooks service allows you to subscribe to event-based notifications (callbacks) when a qualifying event is triggered within Brandfolder.
paths:
  /webhooks/send:
    parameters:
    - in: header
      name: Content-Type
      required: true
      schema:
        type: string
        enum:
        - application/json
      example: application/json
    - $ref: '#/components/parameters/Authorization'
    post:
      servers:
      - url: https://brandfolder.com/api/v1
      operationId: opIdApiV4WebhooksSendPost
      summary: Generate a test webhook
      description: 'Generates a test Webhook.


        > **Important:** This operation uses server `https://brandfolder.com/api/v1` (notice the version is `v1`).


        > **Important:** Ensure that your code is able to receive a Brandfolder

        Webhook using this endpoint before creating a production Webhook

        subscription.


        If you receive a `202` response at this endpoint, then a fake Webhook

        notification will POST to your `callback_url`. If you don''t receive anything

        at your `callback_url` within a few minutes, it is likely that

        `callback_url` is invalid. Please ensure the URL begins with `https://` and

        that it is a public domain (not `localhost`, behind a firewall, or any other

        domain requiring authentication) which can receive HTTP `POST` requests and

        respond with a `2xx` HTTP status code.'
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        event_type:
                          type: string
                          description: Event type.
                          enum:
                          - asset.create
                          - asset.update
                          - asset.delete
                          example: asset.create
                        resource_key:
                          type: string
                          description: Brandfolder ID.
                          example: oqgiju-21olts-ce9egi
                        resource_type:
                          type: string
                          description: The type of resource the event acts on. Currently, `brandfolder` is the only supported type.
                          example: brandfolder
                          enum:
                          - brandfolder
                        callback_url:
                          type: string
                          description: 'An HTTPS URL where webhook data will be posted.


                            Please ensure the URL begins with `https://` and that it is a public domain (not `localhost`, behind a firewall, or any other domain requiring authentication) which can receive HTTP `POST` requests and respond with a `2xx` HTTP status code.

                            '
                          example: https://your_company.com/your_callback_url
                        asset_key:
                          type: string
                          description: Asset ID override
                          example: oqgkkd-fr5iv4-443db
                        organization_key:
                          type: string
                          description: organization ID override.
                          example: oqgkkd-fr5iv4-cocc75
                      required:
                      - event_type
                      - resource_key
                      - resource_type
                      - callback_url
                  required:
                  - attributes
              required:
              - data
      responses:
        '202':
          description: 'The webhook was successfully created.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    default: Added demo webhook to queue
                  status:
                    type: string
                    default: ok
        '400':
          description: 'Invalid Payload Provided

            '
        '403':
          description: 'Permission Denied for Provided Resource

            '
        '404':
          description: 'Provided Resource Does Not Exist

            '
        '409':
          description: 'Subscription Already Exists

            '
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /webhooks:
    servers:
    - url: https://brandfolder.com/api/v1
    parameters:
    - in: header
      name: Content-Type
      required: true
      schema:
        type: string
        enum:
        - application/json
      example: application/json
    - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4WebhooksGet
      summary: List active webhooks
      description: 'List all active webhooks.


        > **Important:** This operation uses server `https://brandfolder.com/api/v1` (notice the version is `v1`).'
      tags:
      - Webhooks
      responses:
        '200':
          description: 'The active webhooks.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
                required:
                - data
        '400':
          description: 'Invalid header provided

            '
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    post:
      operationId: opIdApiV4WebhooksPost
      summary: Create a webhook subscription
      description: 'Subscribes to get Webhook notifications for the specified asset event type

        within the specified Brandfolder.


        > **Important:** This operation uses server `https://brandfolder.com/api/v1` (notice the version is `v1`).'
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        event_type:
                          type: string
                          description: 'An event type. Here are the currently supported event types:


                            - `asset.create`: A new asset has been created within the subscribed Brandfolder

                            - `asset.update`: Asset data has been updated within the subscribed Brandfolder

                            - `asset.delete`: An asset has been removed from within the subscribed Brandfolder

                            '
                          example: asset.create
                          enum:
                          - asset.create
                          - asset.update
                          - asset.delete
                        resource_key:
                          type: string
                          description: The ID of the resource being acted on.
                          example: oqgiju-21olts-ce9egi
                        resource_type:
                          type: string
                          description: The type of resource the event acts on. Currently, `brandfolder` is the only supported type.
                          example: brandfolder
                        callback_url:
                          type: string
                          description: 'An HTTPS URL where webhook data will be posted.


                            Please ensure the URL begins with `https://` and that it is a public domain (not `localhost`, behind a firewall, or any other domain requiring authentication) which can receive HTTP `POST` requests and respond with a `2xx` HTTP status code.

                            '
                          example: https://your_company.com/your_callback_url
                      required:
                      - event_type
                      - resource_key
                      - resource_type
                      - callback_url
                  required:
                  - attributes
              required:
              - data
      responses:
        '200':
          description: 'The webhook was successfully created.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Webhook'
                required:
                - data
        '400':
          description: 'Invalid Payload Provided

            '
        '403':
          description: 'Permission Denied for Provided Resource

            '
        '404':
          description: 'Provided Resource Does Not Exist

            '
        '409':
          description: 'Subscription Already Exists

            '
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
  /webhooks/{webhook_id}:
    servers:
    - url: https://brandfolder.com/api/v1
    parameters:
    - name: webhook_id
      in: path
      schema:
        type: string
      required: true
      description: Unique identifier for the resource instance.
      example: oqgkkd-fr5iv4-hh142d
    - in: header
      name: Content-Type
      required: true
      schema:
        type: string
        enum:
        - application/json
      example: application/json
    - $ref: '#/components/parameters/Authorization'
    get:
      operationId: opIdApiV4WebhooksByIdGet
      summary: Fetch an active webhook
      description: 'Gets an active matching webhook.


        > **Important:** This operation uses server `https://brandfolder.com/api/v1` (notice the version is `v1`).'
      tags:
      - Webhooks
      responses:
        '200':
          description: 'The webhook details.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Webhook'
                required:
                - data
        '400':
          description: 'Invalid Header Provided

            '
        '404':
          description: 'The Requested Webhook Does Not Exist

            '
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
    delete:
      operationId: opIdApiV4WebhooksByIdDelete
      summary: Delete a webhook
      description: 'Deletes the matching webhook, so that data is no longer sent by it to its

        associated callback URL.


        > **Important:** This operation uses server `https://brandfolder.com/api/v1` (notice the version is `v1`).'
      tags:
      - Webhooks
      responses:
        '200':
          description: 'Successful response (always an empty object)

            '
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: 'Invalid Header Provided

            '
        '404':
          description: 'Could Not Determine This Webhook Exists or the Requester Does Not Own

            the Webhook.

            '
        default:
          description: Generic error payload
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    Webhook:
      title: Webhook
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the resource instance.
          example: oqgkkd-fr5iv4-hh142d
        attributes:
          $ref: '#/components/schemas/WebhookAttributes'
      required:
      - id
      - attributes
    WebhookAttributes:
      type: object
      title: Webhook subscription attributes
      properties:
        event_type:
          type: string
          description: 'An event type. Here are the currently supported event types:


            - `asset.create`: A new asset has been created within the subscribed Brandfolder

            - `asset.update`: Asset data has been updated within the subscribed Brandfolder

            - `asset.delete`: An asset has been removed from within the subscribed Brandfolder

            '
          example: asset.create
          enum:
          - asset.create
          - asset.update
          - asset.delete
        resource_key:
          type: string
          description: brandfolder_id
          example: oqgiju-21olts-ce9egi
        resource_type:
          type: string
          example: brandfolder
        callback_url:
          type: string
          example: https://your_company.com/your_callback_url
      required:
      - event_type
      - resource_key
      - resource_type
      - callback_url
  parameters:
    Authorization:
      in: header
      name: Authorization
      required: true
      schema:
        type: string
      description: Bearer token for authentication
  securitySchemes:
    APIToken:
      scheme: bearer
      type: http
      description: API Token.
